body{
    background-image: url('../img/image4.jpg');
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .title1{
    font-size:25px;
    font-style: italic;
    font-weight: bold;
    color:#C70039;
    float: left;
}
.abc{
    margin-left:700px;
    margin-top: -28px;
}
.faculty_home_form {
  margin-top:15%;
  border-radius: 5px;
  background-color: #f2f2f2;
  width:50%;
  padding: 20px;
  margin-left: 10%;
}
input[type=submit]:hover {
  background-color: #900C3F;
  color: white;
  margin-left:30%;
}
input[type=submit] {
  color: black;
  margin-top: 10px;
  margin-left:30%;
}
.main {
  display : flex; 
} 
.main div{
  width: auto;
  height: auto;
  background-color: #900C3F;
}