<!DOCTYPE html>
<html>
<head>
  <title>Login</title> 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <script src="https://kit.fontawesome.com/f76ed4a85d.js" crossorigin="anonymous"></script> 
    <!-- <link rel="stylesheet" href="Static/css/login_register.css"></link>  -->
    <link href='https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <script src="https://kit.fontawesome.com/f76ed4a85d.js" crossorigin="anonymous"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
  </script>
<style>
body {
  margin: 0;
  background-image: linear-gradient(to right, #44A08D,#093637);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color:rgba(255, 255, 255, 0.2);
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: lightgrey;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14x;
  font-family: 'Audiowide';
}

li a.active {
  color: white;
  font-size: 18px;
  font-family: 'Angkor';
}
li a.active:hover {
  color: goldenrod;;
  font-size: 20px;
  font-family: 'Audiowide';
}
li a:hover:not(.active) {
  background-color: gray;
  font-size: 16px;
  color: goldenrod;
  font-family: 'Angkor';
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=date] {
     margin-left:5%;
  }
  
  input[type=submit]:hover {
    background-color: goldenrod;
    color: white;
    font-family: 'Angkor';
  }
  .add_course_form {
    border-radius: 5px;
    background-color: lightgrey;
    width:50%;
    padding: 20px;
    margin-left: 10%;
    font-family: 'Audiowide';
    margin-top: 12%;
    margin-left: 23%;
    box-shadow: 8px 8px 2.5px gray;
    background:rgba(255, 255, 255, 0.6);
  }
  .topnav {
  overflow: hidden;
  background-color:rgba(255, 255, 255, 0.2);
  /* width:90% */
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 3%;
  width: 10%;
}

.topnav a:hover {
  color: goldenrod;;
  font-size: 20px;
  font-family: 'Audiowide';
}

.topnav a.active {
  color: white;
  font-size: 20px;
  font-family: 'Angkor';
}
.topnav a.active:hover {
  color: goldenrod;
  font-size: 20px;
  font-family: 'Audiowide';
}
.dropdown {
  position: relative;
  display: inline-block;
  /* background-color:rgba(255, 255, 255, 0.2); */

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: 'Audiowide';
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
</style>
</head>
<body>
  <div >
    <div class = "row">
      <div class="topnav" style="width : 90%"> 
        <a  href="/takeattendance" >Home</a>
        <a class = "active" href="/course_list" >Courses</a>
        <!-- <a href = "/messenger_faculty">Messenger</a> -->
      </div>
      <div  style = " width:10%; margin-top: 0%; background-color:rgba(255, 255, 255, 0.2);">
        <div class = "dropdown">
          <a href = "/profile"style="border-radius: 30px;width: 100px;margin-left: 40%;"><img src="Static/img/34.png" style="border-radius: 30px;width: 50px;margin-left: 55%;"></a>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/">Sign Out</a>
          </div> 
        </div>
      </div>
      
    </div>
    
    
    
    
  </div>
  
<ul>
  <li><a href="/takeattendance">Take Attendance</a></li>
  <!-- <li><a href="Edit_Attendance.html">Edit Attendance</a></li> -->
  <li><a class="active" href="/addcourse">Add Course</a></li>
  <li><a href="/addstudents">Add STudents</a></li>
</ul>

<div style="margin-left:15%;padding:1px 16px;height:fit-content;">
    <div class = "add_course_form"  ng-app = "">
      <form name = "form" action = "/addcoursedata" method = "POST">
        <label for="cname">Course Name</label>
        <input type="text" id="cname" name="cname" placeholder="Course.." ng-model = "cname" ng-required = "true">
        <span ng-show = "form.cname.$touched && form.cname.$error.required">Course Name is required</span><br/>
    
        <label for="cid">Course ID</label>
        <input type="text" id="cid" name="cid" placeholder="Course ID.." ng-model = "cid" ng-required = "true">
        <span ng-show = "form.cid.$touched && form.cid.$error.required" >Course ID is required</span><br/>
        
        <label for="Section">Section:</label>
        <input type="text" id="Section" name="Section" placeholder="Section .." ng-model = "Section" ng-required = "true">
        <span ng-show = "form.Section.$touched && form.Section.$error.required" >Section is required</span><br/>

        <label for="csd">Course Start Date:</label>
        <input type="date" id="csd" name="csd" ng-model = "csd" ng-required = "true">
        <span ng-show = "form.csd.$touched && form.csd.$error.required" >Date is required</span><br/>
        
        <input type="submit" value="Submit" ng-disabled = "form.cname.$touched && form.cname.$error.required || form.cid.$touched && form.cid.$error.required || form.Section.$touched && form.Section.$error.required || form.csd.$touched && form.csd.$error.required">
      </form>
  </div>
    
</div>

</body>
</html>


